.Hello {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  width: calc('~100% - 30px');
  background-color: #6495ED;
  color: white;
  padding: 10px;
  text-align: center;
}
.Hello__text {
  font-size: 20px;
  letter-spacing: 1.2;
}
.Hello__subtext {
  font-size: 14px;
  letter-spacing: 1.1;
}
.Hello__text,
.Hello__subtext {
  margin: 5px auto;
}
